* {
    margin: 0;
    padding: 0;
    font-family: "FranklinGothic URW", Arial, sans-serif;
    box-sizing: border-box;
}

body {
    background: whitesmoke;
}

.app {
    background: whitesmoke;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}

.app h1 {
    font-weight: bolder;
    font-family: 'FranklinGothic Demi', Arial, sans-serif;
    color: #001e4d;
    font-size: 32px;
    border-bottom: 2px solid #481287;
    padding-bottom: 30px;
    color: #481287;
}

.quiz {
    padding: 20px 0;
    position: relative;
}

.quiz h2 {
    font-family: 'FranklinGothic Demi', Arial, sans-serif;
    font-size: 18px;
    color: #481287;
    font-weight: bold;
}

.btn {
    font-family: 'FranklinGothic Medium', Arial, sans-serif;
    background: #481287;
    color: white;
    font-size: 16px;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover:not([disabled]) {
    background: #B194D3;
    color: white;
}

.btn:disabled{
    cursor: no-drop;
}

#next-btn {
    background: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}

.correct {
    background: #9aeabc;
}

.incorrect{
    background: #ff9393;
}

#timer {
    position: absolute;
    top: 10px; /* Adjust the top position as needed */
    right: 10px; /* Adjust the right position as needed */
    font-size: 24px;
    color: #481287;
    z-index: 999; /* Adjust the value as needed */

}

#feedback {
    /* display: none; Hide the feedback element initially */
    font-family: 'FranklinGothic URL Demi', Arial, sans-serif;
    font-size: 24px;
    font-style: italic;
    color: #481287;
}

.score-container {
    text-align: center;
    margin-top: 20px;
}

.final-score {
    font-family: 'FranklinGothic Demi', Arial, sans-serif;
    font-size: 18px;
    color: #481287;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: left;
}

#submit-btn {
    background-color: #481287;
    display: block;
    margin: 0 auto;
}
/* 
.name-container {
    display: flex;
    align-items: center;
} */

.name-container {
    /* display: none; */
    align-items: center;
    justify-content: center; /* Center items horizontally */
    margin-top: 20px; /* Adjust top margin as needed */
}

.name-container label {
    margin-right: 10px;
}

.name-container input {
    margin-right: 10px;
}

.name-container button {
    background-color: #481287;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.name-container button:hover {
    background-color: #B194D3;
}


